body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #fa812f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form{
background-color: #fff;
padding: 30px;
border-radius: 10px;
width: 400px;

}