body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #fa812f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form{
background-color: #fef3e2;
padding: 30px;
border-radius: 10px;
width: 400px;

}
h2{
    color: #dd0303;

}
label{
    color: #fab12f;
    margin-bottom: 10px;
}
button{
    padding: 10px 20px;
    text-align: center;
    background-color: green;
}